@import "tailwindcss";

body {
  background-color: var(--el-bg-color);
}

#app {
  /* max-width: 1280px; */
  min-height: 100%;
  margin: 0 auto;
  font-weight: normal;
}

.section-box {
  padding: 12px;
  background-color: var(--el-fill-color-lighter);
}

.section-box-dark {
  padding: 12px;
  border: 1px solid var(--el-border-color);
}

.genFromComponent .arrayOrderList{
  background: var(--el-fill-color-lighter) !important;
}